---
layout: default
---
<ul>
	{% for item in site.data.tags %}
		{% assign child_id = item[0] %}
		{% assign child = item[1] %}
		{% if child.parent == page.tag %}
		<li><a href="{{ '/tag/' | append: child_id | append: '/' | relative_url }}" title="{{ child.name | default: child_id }}"><img src="{{ '/assets/img/folder.ico' | relative_url }}" />{{ child.name | default: child_id }}</a></li>
		{% endif %}
	{% endfor %}
	{% assign tag_posts = site.tags[page.tag] %}
	{% include sorted_post_list.html posts=tag_posts wrap='false' %}
</ul>
